
<div class="container flex-center loginAndWelcome">
    <div class="heading">
        <h2>International Bank Welcomes You!</h2>
        <span class="desc">
            Login now to start with most advanced online banking services.
        </span>
    </div>
    <app-online-login></app-online-login>
</div>
<div class="header-image container">
    <div class="heading">
        <h2 class="sentence-case">
            exclusive offers just for you!
        </h2>
    </div>
    <div class="heading-desc">
        <p>
            Unlock exclusive deals and rewards tailored for you at International Bank.<br>Your trusted financial partner.
        </p>
    </div>
    <br>
    <div class="header-image-button">
        <div class="header-button">
            <a routerLink="/offers">Explore Offers</a>
        </div>
    </div>
</div>
<app-best-services></app-best-services>
<app-auto-counter></app-auto-counter>
<app-makes-out-best></app-makes-out-best>