<div class="about-us container">
    <div class="entry-container">
        <div class="entry-title">
            <h1>About Us</h1>
        </div>
        <div class="entry-desc">
            <p>Welcome to International Bank, where your financial well-being is our top priority.</p>
        </div>
    </div>  
    <div id="content">
        <h3>Our History</h3>

        <p>Established in 2023, International Bank is a fresh and dynamic addition to the financial landscape. Our journey commenced with a clear vision – to revolutionize banking by delivering secure, innovative, and customer-centric financial services. Though we are a newcomer, our determinati
        on and commitment to excellence have been the driving forces behind our rapid growth.</p>
        <h3>
            Our Vision:
        </h3>
        <p>At International Bank, we aspire to redefine the banking experience. We aim to create a financial institution that is not only trusted but also a catalyst for your financial aspirations. Our commitment to innovation, integrity, and customer satisfaction sets us apart in the industry.</p>
        <h3>Our Values:</h3>
        <p>Rooted in our values, we strive to uphold the highest standards of:</p>
        <div class="inner">
            <h4>Integrity:</h4><p>We believe in doing what's right, always. Trust is the foundation of our relationships.</p>
        </div>
        <div class="inner">
            <h4>Innovation:</h4><p>We embrace technology to offer you cutting-edge solutions, ensuring banking is convenient and accessible.</p>
        </div>
        <div class="inner">
            <h4>Customer-Centricity:</h4><p>Your financial success is our primary goal. We tailor our services to meet your unique needs.</p>
        </div>
        <div class="inner">
            <h4>Community Engagement: </h4><p>As a responsible corporate citizen, we actively engage with and support the communities we serve.We believe in doing what's right, always. Trust is the foundation of our relationships.</p>
        </div>
        
    </div>
    <h3>Join Our Journey:</h3>
    <p>Whether you're embarking on your first savings plan, securing a mortgage for your dream home, or planning for your retirement, International Bank is here to empower your financial journey. We invite you to explore our website, visit our branches, or connect with our enthusiastic team of experts to discover how we can help you achieve your financial goals.</p>
</div>