.onlineBankingLogin{
    border:1px solid var(--blue);
    padding: 5px 15px;
    border-radius: 5px;
    margin:10px;
}
.onlineBankingLogin a{
    font-size:13px;
    color: var(--blue);
}
.onlineBankingLogin h3{
    font-size:14px;
    color: var(--blue);
    font-weight: 400;
}
.onlineBankingLogin form input[type="text"]{
    padding:6px 5px;
    color:var(--blue);
    border:1px solid var(--blue);
    border-radius: 3px;
}
.onlineBankingLogin form input[type="submit"]{
    padding:6px 10px;
}

.onlineBankingLogin form input[type="submit"]:disabled,.onlineBankingLogin form input:disabled[type="submit"]:hover,.onlineBankingLogin form input[type="submit"]:disabled:focus{
    color:#fff;
    opacity:0.7;
    background-color: var(--blue);
    border:1px solid var(--blue);
    cursor:auto;
}
