<div class="privacy-policy" class="container">

    <section>
        <h2>Information We Collect</h2>
        <h3>Personal Information</h3>
        <ul>
            <li>Identification Information: Name, address, date of birth, and other personal identification information.
            </li>
            <li>Contact Information: Email address, phone number, and postal address.</li>
            <li>Financial Information: Account numbers, transaction history, and financial details.</li>
            <li>Login Information: Usernames, passwords, and security questions and answers.</li>
        </ul>
        <h3>Non-Personal Information</h3>
        <p>We may also collect non-personal information, such as:</p>
        <ul>
            <li>Device and browser information, including IP address, browser type, and operating system.</li>
            <li>Usage data, such as the pages you visit, features you use, and the time and date of your visits.</li>
        </ul>
    </section>
    <section>
        <h2>How We Use Your Information</h2>
        <p>We may use your information for the following purposes:</p>
        <ul>
            <li>Account Management: To create and manage your account, process transactions, and provide customer support.
            </li>
            <li>Communication: To send you account-related information, updates, alerts, and promotional materials.</li>
            <li>Improvement: To improve our services, the App's functionality, and the user experience.</li>
            <li>Security: To protect the security and integrity of our services and the App.</li>
            <li>Compliance: To comply with legal obligations and regulatory requirements.</li>
        </ul>
    </section>
</div>