<div class="terms-conditions" class="container">

    <section>
        <h2>Agreement to Terms</h2>
        <p>By using our Online Banking Management System web application ("the App"), you agree to these Terms and
            Conditions. Please read these
            terms carefully and abide by them while using our services.</p>
    </section>
    <section>
        <h2>Use of the App</h2>
        <p>You must use the App in accordance with all applicable laws and regulations. Unauthorized use or access to
            the
            App is prohibited.</p>
    </section>
    <section>
        <h2>Privacy and Security</h2>
        <p>Your use of the App is subject to our Privacy Policy. We take security seriously, and you are responsible for
            safeguarding your login information.</p>
    </section>
</div>