<div class="what-makes-best">
    <div class="heading-inner">
        <h2 class="sentence-case" style="font-size:30px;">What makes our bank stand out from the rest?</h2>
    </div>
    <div class="container">
        <div class="inner-section-1">
            <div class="inner-section">
                <div class="heading">
                    <h2>Security and Performance</h2>
                    <div class="divider"></div>
                </div>
                <div class="desc">
                    <p>Our bank app is designed with the utmost priority on security and performance. Our robust security measures include end-to-end encryption to protect your financial data, multi-factor authentication for account access, and regular security updates to stay ahead of emerging threats. We employ cutting-edge technology to ensure seamless and lightning-fast performance, allowing you to manage your accounts, make transactions, and access financial information with speed and reliability. Rest assured, our app combines the highest level of security with top-notch performance to provide you with a safe and efficient banking experience.</p>
                </div>
            </div>
            <div class="image-section">
                <img src="assets/images/security.jpg" alt="Security">
            </div>
        </div>
        <div class="inner-section-2">
            <div class="inner-section">
                <div class="heading">
                    <h2>Easy To Use</h2>
                    <div class="divider"></div>
                </div>
                <div class="desc">
                    <p>Our bank app offers a user-friendly interface that makes managing your finances a breeze. With its intuitive design, navigating through your accounts, transferring funds, paying bills, and checking your balance is a seamless and effortless experience. Our website is designed with simplicity in mind, ensuring that even users with limited technical expertise can easily access and utilize all the essential banking features. Whether you're a tech-savvy user or just getting started with digital banking, our user-friendly platform ensures that managing your finances is convenient and accessible for everyone.</p>
                </div>
            </div>
            <div class="image-section">
                <img src="assets/images/easy_to_use.jpg" alt="Easy To Use">
            </div>
        </div>
    </div>
</div>
